<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">###</property>
        <property name="hibernate.connection.username">###</property>
        <property name="hibernate.connection.password">###</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
         <!-- JDBC connection pool (use the built-in) 
        <property name="connection.pool_size">1</property-->
        <!-- Dont expire the session >
        <property name="maxIdleTime">0</property-->
        
        <!--  c3p0 -->
		<property name="hibernate.c3p0.validate">true</property>
		<property name="hibernate.c3p0.acquire_increment">1</property> 
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">600</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.preferredTestQuery">SELECT 1;</property>
		<property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
		<!--Used to be 3000-->
		<property name="hibernate.c3p0.idle_test_period">300</property>
        
        <mapping class="com.complaints.entities.UserEntity"></mapping>
        <mapping class="com.complaints.entities.ComplaintEntity"></mapping>
        <mapping class="com.complaints.entities.RoleEntity"></mapping>
        <mapping class="com.complaints.entities.CommentEntity"></mapping>
        <mapping class="com.complaints.entities.EmailEntity"></mapping>
    </session-factory>
</hibernate-configuration>