<ion-view>
<div class="changePass">
      <div class="bar bar-header bar-positive">
          <a href="#/home" class="icon ion-chevron-left"></a>
          <a href="#/home"><img src="img/grumblIcon.svg" class="topLogo"></a> 
      </div>
	<ion-content has-bouncing="false">
		<form class="list regform" id="registerForm" name="changePasswordForm">
			<div id="oldPasswordSection">
				<p class="errorText"
					ng-show="!changePasswordForm.oldPassword.$pristine && changePasswordForm.oldPassword.$invalid">Password
					must be between 6 and 20 characters</p>
				<label class="item item-input item-floating-label"> 
					<span class="input-label">Current Password</span> 
					<input name="oldPassword" ng-model="password.oldPassword" type="password" placeholder="Current Password"
					ng-minlength="6" ng-maxlength="20" required> 
					<i ng-show="!changePasswordForm.oldPassword.$pristine && changePasswordForm.oldPassword.$invalid"
					class="icon ion-close-circled"></i>
					<i ng-show="changePasswordForm.oldPassword.$valid"
					class="icon ion-checkmark-circled"></i>
				</label>
			</div>
			<div id="newPasswordSection">
				<p class="errorText"
					ng-show="!changePasswordForm.password.$pristine && changePasswordForm.password.$invalid">Password
					must be between 6 and 20 characters</p>
				<label class="item item-input item-floating-label"> 
					<span class="input-label">New Password</span> 
					<input name="password" ng-model="newPass.first" type="password" placeholder="New Password"
					ng-minlength="6" ng-maxlength="20" required> 
					<i ng-show="!changePasswordForm.password.$pristine && changePasswordForm.password.$invalid"
					class="icon ion-close-circled"></i>
					<i ng-show="changePasswordForm.password.$valid"
					class="icon ion-checkmark-circled"></i>
				</label>
			</div>
			<div id="confirmNewPasswordSection">
				<p class="errorText"
					ng-show="!changePasswordForm.confirmPassword.$pristine && !comparePassword(newPass)">Passwords
					do not match</p>
				<label class="item item-input item-floating-label"> 
					<span class="input-label">Confirm Password</span> 
					<input name="confirmPassword" ng-model="newPass.second"
					ng-change="comparePassword(newPass);" type="password"
					placeholder="Confirm Password" ng-minlength="6" ng-maxlength="20"
					required> 
					<i ng-show="!changePasswordForm.confirmPassword.$pristine && !comparePassword(newPass)"
					class="icon ion-close-circled"></i> 
					<i ng-show="changePasswordForm.confirmPassword.$valid && comparePassword(newPass)"
					class="icon ion-checkmark-circled"></i>
				</label>
			</div>
			<button class="button button-block button-positive regButton green" ng-click="changePassword(password,newPass)" ng-disabled="registerForm.$invalid || !comparePassword(newPass)">Change Password</button>
		</form>
	</ion-content>
</div>
</ion-view>